<ion-header>
  <ion-navbar >
    <button ion-button clear menuToggle>
      <ion-item no-lines>
        <ion-avatar item-left>
          <img [src]="user.photo_url" *ngIf="user.photo_url">
          <img src="assets/imgs/person.png" *ngIf="!user.photo_url">
        </ion-avatar>
      </ion-item>
    </button>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-fab bottom right>
    <button ion-fab (click)="goTo()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
