<ion-header>
  <ion-navbar >
    <ion-title>
      Ventanas
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-item>
    <ion-label></ion-label>
    <ion-toggle checked="" disabled ></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label></ion-label>
    <ion-toggle checked="" disabled ></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label></ion-label>
    <ion-toggle checked="" disabled ></ion-toggle>
  </ion-item>
</ion-content>
