<ion-split-pane>
  <ion-menu [content]="someContent">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="dados">
        <ion-item class="info">
          <ion-avatar left>
            <img [src]="users.photo" class="img-2x" *ngIf="users.photo"/>
            <img src="assets/imgs/person.png" class="img-2x" *ngIf="!users.photo"/>
          </ion-avatar>
          <h1>{{users.display}}</h1>
          <button ion-button clear icon-right>
            {{ users.email }}
          </button>
        </ion-item>
      </div>
      <ion-list >
        <button ion-item (click)="openPage()" icon-left>
          <ion-icon name="add"></ion-icon>
          Ventana
        </button>
        <button ion-item (click)="logout()" icon-left>
          <ion-icon name="exit"></ion-icon>
          Salir
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-nav id="nav" #someContent main [root]="rootPage"></ion-nav>
</ion-split-pane>