<ion-content>
  <div padding>
    <img src="assets/imgs/logo-1.png" alt="">
    <button ion-button 
      icon-left block 
      (click)="signInWithFacebook()"
      color="facebook">
      <ion-icon name="logo-facebook"></ion-icon>
      Facebook
    </button>
    <button ion-button 
      icon-left block 
      (click)="signInWithGoogle()"
      color="google">
      <ion-icon name="logo-google"></ion-icon>
      Google
    </button>
    <button ion-button 
      icon-left block 
      color="twitter" 
      (click)="signInWithTwitter()">
      <ion-icon name="logo-twitter"></ion-icon>
      Twitter
    </button>
    <ion-list inset>
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/imgs/person.png" />
        </ion-avatar>
        <ion-input type="email" [(ngModel)]="users.email" placeholder="Usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/imgs/person.png" />
        </ion-avatar>
        <ion-input type="password" [(ngModel)]="users.pass" placeholder="Clave"></ion-input>
      </ion-item>
      <!--
      <ion-item>
        <ion-label>Recordar Credenciales</ion-label>
        <ion-toggle checked=""></ion-toggle>
      </ion-item>-->
    </ion-list>
  </div>
  <div class="row">
    <div class="col">
      <button ion-button clear (click)="goToReset()">Olvide Clave</button>
      <button ion-button clear (click)="goToAlta()">Registrese ahora</button>
    </div>
    <div class="col">
      <button ion-button block (click)="signin()">Ingresar</button>  
    </div>
  </div>
</ion-content>
