<ion-tabs tabsPlacement="top">
    <ion-tab [root]="homeRoot" tabIcon="home"></ion-tab>
    <ion-tab [root]="searchRoot" tabIcon="search"></ion-tab>
    <ion-tab [root]="chatRoot" tabIcon="chatbubbles"></ion-tab>
    <ion-tab [root]="mailRoot" tabIcon="mail"></ion-tab>
</ion-tabs>
